body {
  color: hsl(0, 0%, 42%);
  background-color: hsl(16, 51%, 94%);
  font-family: sans-serif;
  font-size: 14px;
}

.hide {
  display: none !important;
}

#img-hamburger, #img-close, #btn-cta {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  font-size: 14px;
}

#img-logo {
  width: 109px;
  height: 32px;
}

#img-hamburger, #img-close, .img-list-item-nav {
  display: block;
  width: 24px;
  height: 24px;
}

nav {
  width: calc(100% - 2rem);
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 4;
  background-color: white;
  border-radius: 10px;
  color: hsl(212, 17%, 60%);
}

nav > div {
  padding: 2.5rem;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.menu-header > h2 {
  font-size: 14px;
  text-transform: uppercase;
}

.list-item-menu {
  margin-bottom: 1.5rem;
}

.list-item-menu:last-of-type {
  margin-bottom: 0;
}

.div-nav {
  display: flex;
}

.img-list-item-nav {
  margin-right: .5rem;
}

.div-list-item-description > h3 {
  font-weight: 700;
  color: hsl(212, 11%, 19%);
}

/* Main */
/* .div-landing */
.div-landing {
  padding: 1rem;
  font-size: 1rem;
}

.div-landing > h2, .div-landing > div:first-of-type {
  width: 90%;
}

.div-landing > h2 {
  font-weight: 700;
  font-size: 2.25rem;
  color: hsl(0, 0%, 0%);
}

h2 > span {
  color: hsl(39, 100%, 63%);
}

.div-landing > div:first-of-type {
  margin: 1rem 0;
}

#btn-cta {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: rgb(1, 59, 1);
  color: hsl(0, 0%, 100%);
  border-radius: 4px;
}

.div-reviews {
  display: flex;
  align-items: center;
}

.div-reviews > span {
  margin-right: 1rem;
}

.img-review-company {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.div-trusted-companies {
  padding: 1rem;
  margin-top: 4rem;
  text-align: center;
}

.div-trusted-companies > span {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.list-trusted-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-trusted-companies > li:first-of-type, .list-trusted-companies > li:nth-child(2) {
  margin-bottom: 1rem;
}

.img-trusted-company {
  width: auto;
  height: 50px;
}
