body {
  color: hsl(0, 0%, 42%);
  background-color: hsl(16, 51%, 94%);
  font-family: sans-serif;
  font-size: 14px;
}

.hide {
  display: none !important;
}

.transparent {
  visibility: hidden;
}

#img-hamburger, #img-close, .list-nav > li, #btn-login, .btn-cta {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  font-size: 14px;
}

#img-logo {
  width: 109px;
  height: 32px;
}

#img-hamburger, #img-close, .img-list-item-nav {
  display: block;
  width: 24px;
  height: 24px;
}

#div-products-nav {
  width: calc(100% - 2rem);
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 4;
  background-color: white;
  border-radius: 10px;
  color: hsl(212, 17%, 60%);
}

nav > div {
  padding: 2.5rem;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.menu-header > h2 {
  font-size: 14px;
  text-transform: uppercase;
}

.list-item-menu {
  margin-bottom: 1.5rem;
}

.list-item-menu:last-of-type {
  margin-bottom: 0;
}

.div-nav {
  display: flex;
}

.img-list-item-nav {
  margin-right: .5rem;
}

.div-list-item-description > h3 {
  font-weight: 700;
  color: hsl(212, 11%, 19%);
}

/* Main */
/* .div-landing */
.div-landing-wrapper {
  padding: 1rem;
}

.div-landing {
  font-size: 1rem;
}

.div-landing > h2, .div-landing > div:first-of-type {
  width: 90%;
}

.div-landing > h2 {
  font-weight: 700;
  font-size: 2.25rem;
  color: hsl(0, 0%, 0%);
}

h2 > span {
  color: hsl(39, 100%, 63%);
}

.div-landing > div:first-of-type {
  margin: 1rem 0;
}

.btn-cta {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: rgb(1, 59, 1);
  color: hsl(0, 0%, 100%);
  border-radius: 4px;
}

.div-reviews {
  display: flex;
  align-items: center;
}

.div-reviews > span {
  margin-right: 1rem;
}

.img-review-company {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.div-trusted-companies {
  padding: 1rem;
  margin-top: 4rem;
  text-align: center;
}

.div-trusted-companies > span {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.list-trusted-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-trusted-companies > li:first-of-type, .list-trusted-companies > li:nth-child(2) {
  margin-bottom: 1rem;
}

.img-trusted-company {
  width: auto;
  height: 50px;
}

@media (min-width: 576px) {
  header, .div-landing-wrapper, .div-trusted-companies {
    padding: 1rem 2rem;
  }

  .div-nav {
    width: calc(100% - 4rem);
    left: 2rem;
  }

  .div-landing > h2, .div-landing > div:first-of-type {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .div-landing > h2, .div-landing > div:first-of-type {
    width: 50%;
  }

  .div-list-item-description > div {
    width: 80%;
  }

  .list-trusted-companies {
    width: 65%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  header {
    margin-bottom: 2rem;
  }

  #div-menu-nav {
    width: 70%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-nav > li {
    margin-right: 2rem;
  }

  #list-item-products {
    position: relative;
  }

  #div-products-nav {
    padding: 1.5rem;
    width: 400px;
    left: -50px;
    top: 2rem;
  }

  #div-products-nav::after {
    content: "";
    width: 0; 
    height: 0; 
    position: absolute;
    top: -5px;
    left: 71px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid hsl(0, 0%, 100%);
  }

  .div-nav, .div-list-item-description > div {
    width: 100%;
  }

  .list-nav, #list-cta {
    display: flex;
    align-items: center;
  }

  #list-cta > li:first-of-type {
    margin-right: 1rem;
  }

  #list-cta .btn-cta {
    margin-bottom: 0;
  }

  .div-landing-wrapper {
    display: flex;
    padding: 1rem 2rem;
  }

  .div-landing-img {
    width: 35%;
  }

  #img-hero {
    display: block;
  }

  .list-trusted-companies {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  #div-products-nav {
    width: 375px;
  }

  header, .div-landing-wrapper {
    padding: 2rem 4rem;
  }

  .div-landing-wrapper {
    align-items: center;
  }

  .div-landing > h2 {
    font-size: 3rem;
  }

  .div-landing > h2, .div-landing > div:first-of-type {
    width: 70%;
  }

  .list-trusted-companies {
    width: 80%;
  }
}

@media (min-width: 1400px) {

}
